<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
 
  <settings>
   <!-- 二级缓存开启 start -->
   <setting name="cacheEnabled" value="true"/>
   <!-- 二级缓存开启 end -->
   
   <!-- 开启SLF4J 打印日志 -->
   <!-- <setting name="logImpl" value="SLF4J" /> -->
   <!--   <setting name="logImpl" value="LOG4J" /> -->
   <setting name="logImpl" value="STDOUT_LOGGING" />
    
  </settings>
  
 
</configuration>

